<div class="container">
  <div class="row">
    <div class="top-title mx-auto my-3">
      <p class="text-center pt-4">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col sm-ml-2"><h3><span style="background-color:#dcdcdc">新着商品</span></h3></div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-5 sm-mr-1 col-md-4 md-mr-2 col-lg-3 lg-mr-1">
        <%= link_to item_path(item) do %>
        <%= attachment_image_tag item, :image, format: 'jpeg', fallback: 'no_image.jpg', size:'200x130'%>
        <p>
          <%= item.name %><br>
          ¥<%= item.add_tax_price.to_s(:delimited) %>
        </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-9"></div>
    <div class="all_items col-md-3">
      <%= link_to "全ての商品をみる >",items_path %>
    </div>
  </div>
</div>