<!--注文詳細品目部分テンプレート-->
  <div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |detail| %>
          <tr>
            <td><%= detail.item.name %></td>
            <td><%= detail.price %></td>
            <td><%= detail.amount %></td>
            <td><%= detail.price * detail.amount %></td>
            <td>
              <%= form_with model: detail, url: admin_order_path do |f| %>
                <%= f.select :making_status, Order_detail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submint "更新" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!--商品値段-->
    <div class="col-4">
      <table class="table">
        <!--商品合計-->
        <% total= 0 %>
        <% @orders.each do |detail| %>
        <% total = total + (detail.price * detail.amount) %>
        <% end %>
        <tr>
          <td>商品合計</td>
          <td><%= total %>円</td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @order.total_payment %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>