<!--注文詳細品目部分テンプレート-->

<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% detail.each do |detail| %>
          <tr>
            <td><%= detail.items.name %></td>
            <td><%= detail.price %></td>
            <td><%= detail.amount %></td>
            <td><%= %></td>
            <td>
              <%= form_with model:order_detail do |f| %>
                <%= f.select :making_status, Order_detail.making_statuses.keys.map {|k| [I18n.t("enums.order_details.making_statuses.#{k}"), k]} %>
                <%= f.submit "更新" %>
              <% end %>
            </td>
            <td><%= detail.submit "更新" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!--商品値段-->
    <div class="col-4">
      <table class="table">
        <tr>
          <td>商品合計</td>
          <td><%=  %>円</td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @order.total_payment %>円</td>
        </tr>
      </table>
    </div>  
  </div>
</div>