<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="d-flex">
        <h5 class="my-5 d-table" style="background-color: #e6e3de;">　ショッピングカート　</h5>
        <% if @cart_items %>
          <div class="mt-5 ml-auto"><%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-sm btn-outline-danger" %></div>
        <% end %>
      </div>

      <% if @cart_items %>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <% total_price = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag cart_item.item, :image, size: '80x60', format:'jpeg', class: "mr-3" %><%= cart_item.item.name %></td>
                <td><%= (cart_item.item.price * 1.10).round.to_s(:delimited) %></td>
                <td>
                  <%= form_with model: cart_item, url: {controller: 'cart_items', action: 'update', id: cart_item.id, item_id: cart_item.item_id } do |f| %>
                    <%= f.select :amount, options_for_select((1..20), {selected: cart_item.amount}) %>
                    <%= f.hidden_field :item_id, value: cart_item.item_id %>
                    <%= f.submit "変更", class: "btn btn-sm btn-outline-success" %>
                  <% end %>
                </td>
                <td><%= ((cart_item.item.price * 1.10) * cart_item.amount).round.to_s(:delimited) %></td>
                <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>

        <div class="d-flex">
          <div><%= link_to "買い物を続ける", root_path, data: {"turbolinks" => false}, class: "btn btn-sm btn-brown rounded-0 mt-2" %></div>
          <table class="table table-bordered col-3 ml-auto">
            <tbody>
              <tr>
                <th class="bg-light">合計金額</th>
                <td><%= total_price.to_s(:delimited) %></td>
              </tr>
            </tbody>
            </thead>
          </table>
        </div>

        <div class="text-center mt-3">
          <%= link_to "情報入力に進む", 'orders/new', class: "btn btn-brown rounded-0" %>
        </div>
      <% else %>
      <div class="text-center">
        <h3 class="my-5">まだ商品はありません</h3>
      </div>
      <% end %>

    </div>
  </div>
</div>