<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="d-flex">
        <h5 class="my-5 d-table" style="background-color: #e6e3de;">　ショッピングカート　</h5>
        <% if @cart_products.exists? %>
          <div class="mt-5 ml-auto"><%= link_to "カートを空にする", public_all_destroy_path, method: :delete, class: "btn btn-sm btn-outline-danger" %></div>
        <% end %>
      </div>

      <% if @cart_products.exists? %>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <% total_price = 0 %>
          <% @cart_products.each do |cart_product| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag cart_product.product, :image, size: '80x60', format:'jpeg', class: "mr-3" %><%= cart_product.product.name %></td>
                <td><%= (cart_product.product.price * 1.10).round.to_s(:delimited) %></td>
                <td>
                  <%= form_with model: cart_product, url: {controller: 'cart_products', action: 'update', id: cart_product.id, product_id: cart_product.product_id } do |f| %>
                    <%= f.select :quantity, options_for_select((1..20), {selected: cart_product.quantity}) %>
                    <%= f.hidden_field :product_id, value: cart_product.product_id %>
                    <%= f.submit "変更", class: "btn btn-sm btn-outline-success" %>
                  <% end %>
                </td>
                <td><%= ((cart_product.product.price * 1.10) * cart_product.quantity).round.to_s(:delimited) %></td>
                <td><%= link_to "削除する", public_destroy_cart_products_path(cart_product, cart_product.product_id), method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
              </tr>
            </tbody>
            <% total_price += cart_product.subtotal(cart_product.product.price, cart_product.quantity) %>
          <% end %>
        </table>

        <div class="d-flex">
          <div><%= link_to "買い物を続ける", root_path, data: {"turbolinks" => false}, class: "btn btn-sm btn-brown rounded-0 mt-2" %></div>
          <table class="table table-bordered col-3 ml-auto">
            <tbody>
              <tr>
                <th class="bg-light">合計金額</th>
                <td><%= total_price.to_s(:delimited) %></td>
              </tr>
            </tbody>
            </thead>
          </table>
        </div>

        <div class="text-center mt-3">
          <%= link_to "情報入力に進む", new_public_order_path, class: "btn btn-brown rounded-0" %>
        </div>
      <% else %>
      <div class="text-center">
        <h3 class="my-5">まだ商品はありません</h3>
      </div>
      <% end %>

    </div>
  </div>
</div>