
<div class="container mt-md-5">
  <h3><span style="background-color:#dcdcdc">注文履歴一覧</span></h3>
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-hover ">
        <thead>
          <tr>
            <th class="table-active">注文日</th>
            <th class="table-active">配送先</th>
            <th class="table-active">注文商品</th>
            <th class="table-active">支払い金額</th>
            <th class="table-active">ステータス</th>
            <th class="table-active">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <p>
                〒<%= order.postal_code %>
                <br><%= order.address %>
                <br><%= order.name %>
              </p>
            </td>
            <td>
              <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
              <% end %>
            </td>
            <td>
              <%= order.total_payment.round.to_s(:delimited) %>円
            </td>
            <td>
              <%= order.status_i18n %>
            </td>
            <td>
              <%= link_to "表示する", order_path(order), class:"btn btn-primary btn-group-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

