<div class="container">
  <div class="row">
    <div class="col">
      <h2>商品一覧</h2>
      <p>(全<%= @items.count %>件)</p>
      <% @items.each do |item| %>
        <%= attachment_image_tag item, :image, :fill, 40, 40, format: 'jpeg' %>
        <%= item.name %><br>
        <!--↓↓↓(:delimited)で値段の3桁目を区切って表示↓↓↓-->
        <p>¥<%= item.price.to_s(:delimited) %></p>
      <% end %>

      <%= paginate @items %>
    </div>
  </div>
</div>