
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
           <!--logo-->
          <a class="nav-brand p-3" href="/"><%= image_tag asset_path("logo.jpg"), width: '50%', height: '50%' %></a>

           <!--画面小さくしたとき、右のメニューを□にする-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <!--中身-->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
            <!--顧客のヘッダー-->
                <%= render 'layouts/customer' %>
              <% elsif admin_signed_in? %>
            <!--管理者のヘッダー-->
                <%= render 'layouts/admin' %>
              <% else %>
            <!--ログイン前のヘッダー-->
                <%= render 'layouts/about' %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="m-5"></footer>
  </body>

</html>
